<footer>

</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(() => {
        $(".login-btn").on("click", (e) =>{
            let username = $("#username").val();
            let password = $("#password").val();

            $.ajax({
                method: 'POST',
                data: {username: username, password: password},
                type: "application/json",
                headers: { "X-CSRFToken": csrf_token },
                beforeSend: function (xhr) {
                   xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
                },
                url: 'http://localhost:8000/rest-auth/login/',
                success: (response) => {
                    localStorage.setItem("key", response.key)
                    window.location.href='/dashboard/'
                },
                error: (err)=>{
                    alert("Username and password didn't match. Please try again!")
                }
            });
        })
    })

    function logout(){
        $.ajax({
            method: 'POST',
            type: "application/json",
            headers: { "X-CSRFToken": csrf_token },
            url: 'http://localhost:8000/rest-auth/logout/',
            success: (message) => {
                localStorage.clear();
                window.location.href='/'
            }
        });
    }
</script>